<h2>{{title}}</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Even/Odd</th>
            <th>Type</th>
            <th>Price</th>
            <th>Check in at</th>
            <th>Check out at</th>
            <th>select room</th>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="e ? 'even' : 'odd'" *ngFor="let room of rooms; let e = even; let o = odd; let i = index">
            <td>{{room.id}}</td>
            <td>{{e ? "Even" : "Odd"}}</td>
            <td>{{room.title | uppercase}}</td>
            <td>{{room.description}}</td>
            <td>{{room.created_at | date : 'shortDate'}}</td>
            <td>
                <button class="btn btn-primary" [routerLink]="['/rooms',room.id]">Book a room</button>
            </td>
        </tr>
    </tbody>
</table>