<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<h1>rooms {{hotelName}}</h1>

<div [hidden]="hideRooms">
    number of rooms
    <p [innerText]="numberOfRooms"></p>
</div>
<hr>
<p [ngStyle]="{color: rooms.availableRooms ? 'green' : 'red'}">{{rooms.availableRooms ?? "no rooms"}}</p>
<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>
<!-- {{roomsList | json}} -->
<!-- | slice : 1 -->
<div>
    <button (click)="addRoom()">Add roome</button>
</div>
<div *ngIf="hideRooms">
    <h3>List of rooms</h3>
    <app-rooms-list [rooms]="roomsList" (selectedRoom)="selectRoom($event)" [title]="title"></app-rooms-list>
</div>
{{ totalBytes }}
<button class="btn btn-primary" (click)="toggle()">toggle</button>
<button (click)="editPost()">Edit Post</button>
<button (click)="deletePost()">Delete Post</button>
