<h1>rooms {{hotelName}}</h1>

<div [hidden]="hideRooms">
    number of rooms
    <p [innerText]="numberOfRooms"></p>
</div>
<hr>
<p [ngStyle]="{color: rooms.availableRooms ? 'green' : 'red'}">{{rooms.availableRooms ?? "no rooms"}}</p>
<!-- {{roomsList | json}} -->
<!-- | slice : 1 -->
<div *ngIf="rooms.availableRooms">
    <h3>List of rooms</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Even/Odd</th>
                <th>Type</th>
                <th>Price</th>
                <th>Check in at</th>
                <th>Check out at</th>
            </tr>
        </thead>
        <tbody>
            <tr [ngClass]="e ? 'even' : 'odd'" *ngFor="let room of roomsList | slice : 1; let e = even; let o = odd; let i = index">
                <td>{{i}}</td>
                <td>{{e ? "Even" : "Odd"}}</td>
                <td>{{room.roomType | uppercase}}</td>
                <td>{{room.price | currency : 'GBP'}}</td>
                <td>{{room.checkInDate | date : 'shortDate'}}</td>
                <td>{{room.checkOutDate | date}}</td>
            </tr>
        </tbody>
    </table>

</div>
<button class="btn btn-primary" (click)="toggle()">toggle</button>
